---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import AboutMe from "../components/AboutMe.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import SocialPill from "../icons/SocialPill.astro";
import ProfileCheckIcon from "../icons/ProfileCheck.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="I침aki Goicoechea - Desarrollador Web, Dise침ador Gr치fico y Productor Musical"
  description="Pagina Web personal de I침aki Goicoechea para contratar"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img class="rounded-full size-12 mb-4" src="/bsk.jpg" alt="bskimage" />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        I침aki Goicoechea <a
          href="https://www.linkedin.com/in/i%C3%B1aki-goicoechea-4636b9236/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
          <a></a>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span> +3 a침os de experiencia.</span>
        <span class="text-yellow-200"
          >Desarrollador Web, Dise침ador Gr치fico y Productor Musical.</span
        >
        <span class="opacity-80">De Villa Constituci칩n, </span><span
          class="text-sky-400">Argentina 游뷣릖</span
        ><span class="opacity-80"
          >. Especializado en la realizaci칩n y el desarrollo de actividades
          creativas.</span
        >
      </h2>

      <nav class="flex gap-x-4 mt-8">
        <SocialPill
          href="https://www.linkedin.com/in/i%C3%B1aki-goicoechea-4636b9236/"
        >
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/bskgoico">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="">
          <MailIcon class="size-6" />
          igoico10@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

	<SectionContainer id="experiencia">
		<h2 class="text 3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
			<BriefcaseIcon class="size-7" />
			Experiencia Laboral
		</h2>
		<Experience />
	</SectionContainer>

	<SectionContainer id="proyectos">
		<h2 class="text 3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
			Proyectos 
		</h2>
		<Projects />
	</SectionContainer>

  <SectionContainer id="sobre-mi">
    <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80">
      <ProfileCheckIcon />
      Sobre Mi
    </h2>
    <AboutMe />
  </SectionContainer>
  </main>
</Layout>