---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        I침aki Goicoechea <a
          href="https://www.linkedin.com/in/i%C3%B1aki-goicoechea-4636b9236/"
		  target="_blank"
		  rel="noopener"
		  class="flex justify-center items-center"
        >
    	    
            <Badge>Disponible para trabajar</Badge>
            <a></a>
    	    
        </a>
        <h2 class="text-xl opacity-65">
          +3 a침os de experiencia. Desarrollador Web, Dise침ador Gr치fico y
          Productor Musical. De Villa Constituci칩n, Argentina 游뷣릖 . Especializado
          en la realizaci칩n y el desarrollo de actividades creativas.
        </h2>

        <ul></ul>
      </h1>
    </section>
  </main>
</Layout>
