<header class="h-14 flex justify-center items-center mx-auto pt-2 sticky top-0 w-full z-10">
    
    

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#sobre-mi">Sobre Mí</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>

</header>