<header class="h-14 flex justify-center items-center mx-auto pt-2 sticky top-0 w-full z-10">
    
    

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

</header>